In Python, basically we can add comments to your code to provide explanations or notes that are ignored by the interpreter.

We suppose to use two type of comments in python - 
*(single-line comments)
*(multi-line comments)

Single line comments - A Single-line comment is used to add comment on a single line. Anything after the hash symbol (#) on the same line is considered a comment. You can refer to the below Example,

In [1]:
#Hello there, welcome to the PW Skills world.

Multi line comments - Multi-line comments are used to add comments that span multiple lines. In python we can write multi line comments using multi-line strings or multiple single-line comments. Here are examples given bellow.

In [3]:
#My name is Sambit kumar Jena.
#I am 22 Years old.
#Currently I am a working professional at NIQ.

In [4]:
"""
My name is sambit kumar jena.
I am 22 years old.
Currently I am a working professional at NIQ.
"""

'\nMy name is sambit kumar jena.\nI am 22 years old.\nCurrently I am a working professional at NIQ.\n'

###Variables

In Python, variables are used to store data or values,which can be accessed  throughout the program,

In [3]:
#Declaration and Assignmentof name of variables
age=22   #Here varialbe name is age and assign value is 22.
name="Sambit Kumar Jena"    #Here varialbe name is name and assign value is sambit kumar jena.
Height=5.8 #Here varialbe name is Height and assign value is 5.8.
married=False #Here varialbe name is married and assign value is False.

## the variable's value can be int, float, string, Bool or complex no.

In [4]:
age

22

In [5]:
name

'Sambit Kumar Jena'

In [6]:
Height

5.8

In [7]:
married

False

In [9]:
# Conversion of datatype
a=34
type(a)

int

In [10]:
b=str(a) #we just convert the int to string

In [11]:
b

'34'

In [12]:
type(b)

str

In [13]:
c=float(b) #convert the string to float

In [14]:
type(c)

float

In [15]:
d=True
type(d)

bool

In [16]:
e=str(d)#convert bool to string
type(e)

# convesion is possible in python but in some special cases we can't convert the datatype.

str

 
 
 
 
 We can choose the Markdown option from the dropdown to  write and execute a Python script from the command line.
    Here is the Example itself.

We can increase the size by just putting #,## and ### before the comment,

In [19]:
 my_list = [1, 2, 3, 4, 5]

In [21]:
type(my_list)

list

In [25]:
sub_list=my_list[1:3]

In [26]:
sub_list

[2, 3]

#complex number - 
Complex number is an elements of a number system that extends the real numbers along with a imaginary number, specifically
the imaginary unit denoted as "i" and the complex number is written in the form of "a+ib" where "a" and  "b" are the real number and "i" is the
imaginary number.

In [28]:
#example of complex number in python
complex_number1=4j+77 #In python it contain "j" as imaginary unit instead of "i"

In [29]:
complex_number1

(77+4j)

In [31]:
complex_number2=8-67j

In [32]:
complex_number2

(8-67j)

In [33]:
type(complex_number2)

complex

In [34]:
#To declare a variable named age and assign the value 25 to it in Python, you can use the following syntax:
age=25

In [35]:
age

25

In [36]:
# Declare a variable named price and assign the value 9.99 to it
price=9.99
price

9.99

In [37]:
type(price)

float

In [38]:
# Create a variable named name and assign your full name to it as a string.
name="Sambit Kumar Jena"
name

'Sambit Kumar Jena'

In [39]:
print(name)

Sambit Kumar Jena

In [40]:
type(name)

str

In [41]:
#Given the string "Hello, World!", extract the substring "World"
string="Hello, world!"
string

'Hello, world!'

In [45]:
Sub_string=string[7:-1]

In [46]:
Sub_string

'world'

In [1]:
# Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.
is_student=True
is_student
# we can modify the value to False if you are not currently a student.

True

In [2]:
#Let's wright a program to execute the above result.

if (is_student==True):
    print("I am currently a student")
else:
    print("I am currently not a student")

I am currently a student

In [3]:
is_student=False

In [4]:

if (is_student==True):
    print("I am currently a student")
else:
    print("I am currently not a student")

I am currently not a student