# ABOUT PYTHON PROGRAMMING

In [ ]:
# BEFORE WE START WITHTHE PYTHON PROGRAMMING, WE MUST KNOW WHERE WE CAN WRITE THE PYTHON SYNTAXES

# WE CAN WRITE THE PYTHON PROGRAMMING USING IDE

# IDE-- INTEGRATED DEVELOPEMNT ENVIRONMENT

# WHAT ARE THE IDEs WE CAN USE FOR WRITING PYTHON PROGRAMMING

# 1. JUPYTER NOTEBOOK
# 2. PYSPYER
# 3. PYCHARM

In [ ]:
# PYTHON PROGRAMMING CAN BE USED FOR

# 1. WEBSITE DEVELOPEMENT
# 2. SOFTWARE DEVELOPEMENT
# 3. AUTOMATION
# 4. DBMS AND PROGRAMMING
# 5. DATA ANALYSIS
# 6. DATA VISUALIZATION
# 7. DATA SCIENCE

In [ ]:
LIKE PYTHON WHO ARE THE OTHER PROGRAMMING LANGUAGE THAT ARE IMPORTANT FOR DATA SCIENCE

# 1. R
# 2. SAS
# 3. STATA
# 4. ORANGE
# 5. SPSS

# PYTHON PROGRAMMING IS VERY MUCH CASE SENSITIVE

In [ ]:
NAME='DEBENDRA D DAS'
NAME

In [ ]:
print(NAME)

In [ ]:
name

In [ ]:
Name

In [ ]:
NAME

In [ ]:
# PYTHON PROGRAMMING BY VARIABLE NAME IS VERY MUCH CASE SENSITIVE

In [ ]:
PRINT(NAME)

In [ ]:
print(NAME)

In [ ]:
# PYTHON KEYWORD ARE ALSO CASE SENSITIVE

# HOW TO DEFINE VARIABLE, VALUES AND DATA TYPES

In [ ]:
A=100
B=200
A

In [ ]:
B

In [ ]:
A
B

In [ ]:
# WE CALL PYTHON PROGRAMMING IS BATCH PROGRAMMING

In [ ]:
print(A)

In [ ]:
print(B)

In [ ]:
C=A+B
print(C)

In [ ]:
# ARITHMATIC EXPRESSION USING VARIABLE AND THE VALUES

In [ ]:
# ADDITION
A=100
B=200
C=A+B
C

In [ ]:
# SUBTRANCTION
A=100
B=200
C=A-B
C

In [ ]:
# MULTIPLICATION
A=100
B=200
C=A*B
C

In [ ]:
# DIVISION
A=100
B=200
C=A/B
C

In [ ]:
# POWER
A=10
B=2
C=A**B
C

In [ ]:
# REMAINDER
A=13
B=10
C=A%B
C

In [ ]:
# QUOTIENT
A=13
B=10
C=A//B
C

In [ ]:
# STRING VALUES
INSTITUTE_NAME='DV ANALYTICS'
INSTITUTE_NAME

In [ ]:
print(INSTITUTE_NAME)

# VARIBLE DATA TYPES

In [ ]:
A=100
type(A)

In [ ]:
A=100.30
type(A)

In [ ]:
A=100+300j
type(A)

In [ ]:
A=range(0,100)
type(A)

In [ ]:
print(A)

In [ ]:
INSTITUTE_NAME='DV ANALYTICS'
type(INSTITUTE_NAME)

In [ ]:
# WE COVERED THE DATA TYPES
# 1. INT
# 2. FLOAT
# 3. COMPLEX
# 4. RANGE
# 5. STRING

# DEFINE VARIABLES BY TYPES LIKE LIST,TUPLE,SET AND DICTIONARY

In [ ]:
# DEFINING THE LIST DATA TYPE
STU_NAME=['RAVI','ARJUN','BISHNUPRIYA','AMZAD','ANWAR','DEV']
STU_NAME

In [ ]:
print(STU_NAME)

In [ ]:
type(STU_NAME)

In [ ]:
STU_AGE=[23,34,23,25,32,35]
STU_AGE

In [ ]:
type(STU_AGE)

In [ ]:
# DEFINING THE TUPLE DATA TYPE
STU_NAME=('RAVI','ARJUN','BISHNUPRIYA','AMZAD','ANWAR','DEV')
STU_NAME

In [ ]:
type(STU_NAME)

In [ ]:
STU_AGE=(23,34,23,25,32,35)
STU_AGE

In [ ]:
type(STU_AGE)

In [ ]:
# DEFINING THE SET DATA TYPE

STU_NAME={'RAVI','ARJUN','BISHNUPRIYA','AMZAD','ANWAR','DEV'}
STU_NAME

In [ ]:
type(STU_NAME)

In [ ]:
STU_AGE={23,34,23,25,32,35}
STU_AGE

In [ ]:
# DEFINING THE DICTIONARY DATA TYPE

STU_NAME_EDUCATION={'RAVI':'MBA','ARJUN':'BTECH','BISHNUPRIYA':'BSC','AMZAD':'BE','ANWAR':'MTECH','DEV':'BA'}
STU_NAME_EDUCATION

In [ ]:
type(STU_NAME_EDUCATION)

In [ ]:
# HOW MANY DATA TYPES IN PYTHON PROGRAMMING, WE DISCUSSED

# 1. INT
# 2. FLOAT
# 3. COMPLEX
# 4. STRING
# 5. RANGE
# 6. LIST
# 7. TUPLE
# 8. SET
# 9. DICTIONARY

# TEST

In [ ]:
# A=100 ---- INT
# A=100.90 ----FLOAR
# A=range(0,10)---RANGE
# A=100+400i -----COMPLEX
# A='DV ANALYTICS' --- STR
# A=['DIL','DON','ABCD','KGF','SHOLAY'] ----- LIST
# A=('DIL','DON','ABCD','KGF','SHOLAY') ----- TUPLE
# A={'DIL','DON','ABCD','KGF','SHOLAY'} ---- SET
# A={'DIL':'AMIR','DON':'AMITABH','ABCD':'VARUN','KGF':'YASH','SHOLAY':'DHARMENDRA'} -----DICTIONARY

# CAN DATA TYPES LIKE LIST,TUPLE,SET AND DICTIONARY BE UPDATED , DELETED AND APPENDED?

In [ ]:
# BEFORE CHECKING THIS VALUES, WE MUST UNDERSTAND THE INDEXING VALUES

In [ ]:
NAME='ABCDEFGHI'
NAME

In [ ]:
NAME[0]

In [ ]:
NAME[1]

In [ ]:
NAME[2]

In [ ]:
NAME[8]

In [ ]:
NAME[12]

In [ ]:
NAME[0:3]

In [ ]:
NAME[0:5]

In [ ]:
NAME[0:0]

In [ ]:
NAME[0:1]

In [ ]:
NAME[1:1]

In [ ]:
NAME[1:3]

In [ ]:
NAME[-1]

In [ ]:
NAME[-2]

In [ ]:
NAME[0:-2]

In [ ]:
NAME[-1:-1]

In [ ]:
NAME[-1:-2]

In [ ]:
NAME[-1:1]

In [ ]:
NAME[1:-1]

In [ ]:
NAME[0]

In [ ]:
NAME[0:0]

# LIST TO BE UPDATED , DELETED AND APPENDED

In [ ]:
STU_NAME=['RAVI','ARJUN','BISHNUPRIYA','AMZAD','ANWAR','DEV']

In [ ]:
STU_NAME[0]

In [ ]:
STU_NAME[0:3]

In [ ]:
STU_NAME[1]

In [ ]:
# INDEX POSITION OF 1 BEEN REPLACED WITH TEH VALUE AS VIM
STU_NAME[1]='VIM'

In [ ]:
STU_NAME

In [ ]:
# MY LIST VALUE CAN BE UPDATED

In [ ]:
STU_NAME[1]

In [ ]:
# DELETING THE INDEX VALUE AS 1
del STU_NAME[1]

In [ ]:
STU_NAME

In [ ]:
# LIST CAN BE DELETED

In [ ]:
STU_NAME=['RAVI','ARJUN','BISHNUPRIYA','AMZAD','ANWAR','DEV']
STU_EDUCATION=['MBA','BCA','BBA','MTECH','BPHARMA','BA']

STU_FULL_DETAILS=STU_NAME+STU_EDUCATION

STU_FULL_DETAILS

In [ ]:
# LIST VALUES CAN BE APPENDED

# TUPLE TO BE UPDATED , DELETED AND APPENDED

In [ ]:
STU_NAME=('RAVI','ARJUN','BISHNUPRIYA','AMZAD','ANWAR','DEV')
STU_NAME

In [ ]:
STU_NAME[1]

In [ ]:
STU_NAME[1]='VIM'

In [ ]:
# TUPLE CAN NOT BE UPDATED

In [ ]:
STU_NAME=('RAVI','ARJUN','BISHNUPRIYA','AMZAD','ANWAR','DEV')

In [ ]:
del STU_NAME[1]

In [ ]:
# TUPLE CAN NOT BE DELETED

In [ ]:
STU_NAME=('RAVI','ARJUN','BISHNUPRIYA','AMZAD','ANWAR','DEV')
STU_EDUCATION=('MBA','BCA','BBA','MTECH','BPHARMA','BA')

STU_FULL_DETAILS=STU_NAME+STU_EDUCATION

In [ ]:
STU_FULL_DETAILS

In [ ]:
# TUPLE CAN BE APPENDED

# SET TO BE UPDATED , DELETED AND APPENDED

In [ ]:
STU_NAME={'RAVI','ARJUN','BISHNUPRIYA','AMZAD','ANWAR','DEV'}
STU_NAME

In [ ]:
STU_NAME[1]

In [ ]:
STU_NAME[1]='VIM'

In [ ]:
STU_NAME={'RAVI','ARJUN','BISHNUPRIYA','AMZAD','ANWAR','DEV'}
STU_EDUCATION={'MBA','BCA','BBA','MTECH','BPHARMA','BA'}

STU_FULL_DETAILS=STU_NAME+STU_EDUCATION

In [ ]:
# SET VALUES CAN NOT BE UPDATED, DELETED AND APPENDED

# DICTIONARY TO BE UPDATED , DELETED AND APPENDED

In [ ]:
STU_NAME={'RAVI':'MBA','ARJUN':'BTECH','BISHNUPRIYA':'BCA','AMZAD':'MTECH','ANWAR':'BE','DEV':'MBA'}

STU_NAME

In [ ]:
# IN DICTIONARY WE GET VALUES IN 2 PARTS
# 1. KEYS
# 2. VALUES

In [ ]:
STU_NAME.keys()

In [ ]:
STU_NAME.values()

In [ ]:
STU_NAME['RAVI']

In [ ]:
STU_NAME['BISHNUPRIYA']

In [ ]:
STU_NAME['RAVI']='MCA'

In [ ]:
STU_NAME

In [ ]:
# DICTIONARY VALUE CAN BE UPDATED

In [ ]:
del STU_NAME['RAVI']

In [ ]:
STU_NAME

In [ ]:
# DICTIONARY VALUE CAN BE DELETED

In [ ]:
STU_AGE={'A':30,'B':20,'C':34,'D':39,'E':28,'F':27}
STU_EDUCATION={'A':'BBA','B':'BCA','C':'MBA','D':'MSC','E':'BCA','F':'MTECH'}

# print(STU_AGE)
print(STU_EDUCATION)

In [ ]:
STU_DETAILS=STU_AGE+STU_EDUCATION

STU_DETAILS

In [ ]:
# DICTIONARY VALUE CAN NOT BE APPENDED

# TEST

In [ ]:
# VARIABLES THAT CAN NOT BE APPENDED?
# ANS- SET AND DICTINARY

# VARIABLES THAT CAN BE APPENDED?
# ANS= LIST AND TUPLE

# VARIABLES THAT CAN BE UPDATED AND DELETED?
# ANS- LIST AND DICTIONARY

# HOW TO CREATE TEMPORARY TABLE IN PYTHON

In [ ]:
import pandas as pd

STU_ENQ=pd.DataFrame ({'STU_ID':['S1','S2','S3','S4','S5','S6'],
                      'STU_NAME':['RAVI', 'ARJUN', 'BISHNUPRIYA', 'AMZAD', 'ANWAR', 'DEV'],
                      'AGE':[23,26,25,24,27,29],
                      'EDUCATION':['MBA','MCA','BTECH','BSC','BCA','BCOM'],
                      'DATE_OF_ENQ':['01/01/2022','11/01/2022','13/01/2022','24/01/2022','27/01/2022','29/01/2022'],
                      'COURSE':['MPIDS','DAS','MPIDS','ADA','MPIDS','MPIDS']})

In [ ]:
STU_ENQ

In [ ]:
print(STU_ENQ)

In [ ]:
STU_ENQ.shape

In [ ]:
STU_ENQ.head(2)

In [ ]:
STU_ENQ.tail(2)

In [ ]:
STU_ENQ.info()

In [ ]:
STU_ENQ.columns.values

In [ ]:
STU_ENQ.dtypes

# HOW TO CRAETE A TABLE AND INSERTING VALUE TO TEH TABLE

In [ ]:
import pandas as pd
STU_ALL_ENQ=['STU_ID','STU_NAME','AGE','GENDER','EDUCATION','YOE','DOE','COURSE']
STU_ALL_ENQ

In [ ]:
STU_ALL_ENQ_FULL=pd.DataFrame(columns=STU_ALL_ENQ)
STU_ALL_ENQ_FULL

In [ ]:
LIST_OF_VALUES=[pd.Series(['S1','NARENDRA',33,'MALE','BTECH',4,'01-01-2020','DATA SCIENCE'],index=STU_ALL_ENQ_FULL.columns),
                 pd.Series(['S2','CHHABA',24,'MALE','BTECH',2,'02-01-2020','DATA SCIENCE'],index=STU_ALL_ENQ_FULL.columns),
                 pd.Series(['S3','NARI',27,'FEMALE','BTECH',6,'04-01-2020','DATA ANALYTICS'],index=STU_ALL_ENQ_FULL.columns),
                  pd.Series(['S4','PAPPU',32,'MALE','BTECH',4,'07-01-2020','DATA SCIENCE'],index=STU_ALL_ENQ_FULL.columns),
                  pd.Series(['S5','PRACHI',30,'FEMALE','BTECH',4,'07-03-2020','DATA SCIENCE'],index=STU_ALL_ENQ_FULL.columns)]
STU_ALL_ENQ_FULL = STU_ALL_ENQ_FULL.append(LIST_OF_VALUES, ignore_index=False)

In [ ]:
STU_ALL_ENQ_FULL

# HOW TO ADD AND DROP COLUMNS TO A TABLE

In [ ]:
STU_ALL_ENQ_FULL

In [ ]:
# TO ADD A COLUMN

import pandas as pd
import numpy as np

STU_ALL_ENQ_FULL['INSTUTUTE']=np.nan

STU_ALL_ENQ_FULL

In [ ]:
# TO DROP A COLUMN

import pandas as pd
import numpy as np

STU_ALL_ENQ_FULL_V1=STU_ALL_ENQ_FULL.drop(['INSTUTUTE'],axis=1)

STU_ALL_ENQ_FULL_V1

# TO TRUNCATE A TABLE and DELETING A TABLE

In [ ]:
STU_ALL_ENQ_FULL_V1.iloc[0:0]

In [ ]:
STU_ALL_ENQ_FULL_V2=STU_ALL_ENQ_FULL_V1.iloc[0:0]

STU_ALL_ENQ_FULL_V2

In [ ]:
del STU_ALL_ENQ_FULL_V2

In [ ]:
STU_ALL_ENQ_FULL_V2

# DATA IMPORTING AND EXPORTING FROM CSV,TXT AND EXCEL FILE

In [ ]:
# IMPORTING DATA FROM AN EXCEL FILE

import pandas as pd
med_2022=pd.read_excel(r'C:\Users\Debendra\BATCH 202209\SESSION-1\A2.RAW_DATA\MED_STORE_2022.xlsx',sheet_name='MED_AUS_DATA')
med_2022

In [ ]:
# EXPORTING DATA TO AN EXCEL FILE

In [ ]:
import pandas as pd

med_2022.to_excel(r'C:\Users\Debendra\BATCH 202209\SESSION-1\A4.OUTPUT\med_export_2022.xlsx',sheet_name='med_export')

In [ ]:
# IMPORTING AND EXPORTING DATA FROM TXT FILE

In [ ]:
import pandas as pd
med_2022=pd.read_csv(r'C:\Users\Debendra\BATCH 202209\SESSION-1\A2.RAW_DATA\MED_STORE_2022.txt',sep=',')

med_2022

In [ ]:
# TO EXPORT DATA TO A TEXT FILE

In [ ]:
import pandas as pd

med_2022.to_csv(r'C:\Users\Debendra\BATCH 202209\SESSION-1\A4.OUTPUT\med_export_2022.txt',sep='|')

In [ ]:
# IMPORTING AND EXPORTING DATA CSV FILE

In [ ]:
import pandas as pd
med_2022=pd.read_csv(r'C:\Users\Debendra\BATCH 202209\SESSION-1\A2.RAW_DATA\MED_STORE_2022.CSV')

med_2022

In [ ]:
# TO EXPORT DATA TO A CSV FILE

In [ ]:
import pandas as pd

med_2022.to_csv(r'C:\Users\Debendra\BATCH 202209\SESSION-1\A4.OUTPUT\med_export_2022.CSV')

# DATA READING FROM SQL SERVER DATABASE

In [ ]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine, event
from sqlalchemy.engine.url import URL

conn_str = ("Driver={SQL Server Native Client 11.0};"
            "Server=.;"
            "Database=BATCH_202209;"
            "Trusted_Connection=yes;")

conn_url = URL.create("mssql+pyodbc", query={"odbc_connect": conn_str}) # Creating url

engine = create_engine(conn_url) # Creating Engine

# sql_query="SELECT * from information_schema.columns" # Writing SQL Query

MED_2022_SQL = pd.read_sql_table('MED_2022', engine)

MED_2022_SQL.head(100)

In [ ]:
# HOW TO READ DATA FROM SQL DATABASES

##### FOR IMPORTING DATA FROM SQL DATABASE
import pandas as pd
import pyodbc # IMPORT PYODBC TO GET CONNECTED WITH DATABASE

cnxn_str = ("Driver={SQL Server Native Client 11.0};"# WRITE DRIVER NAME
            "Server=.;" # WRITE SERVER NAME, HERE LOCAL SERVER IS GIVEN
            "Database=BATCH_202209;" # DATABASE NAME
            "Trusted_Connection=yes;") 
cnxn = pyodbc.connect(cnxn_str) #CONNECTION VARIABLE

sql_query="SELECT DISTINCT [Company] FROM MED_2022"  #QUERY VARIABLE

unq_company = pd.read_sql(sql_query, cnxn) #CODE FOR READING SQL TABLE
unq_company

In [1]:
# HOW TO READ DATA FROM SQL DATABASES

##### FOR IMPORTING DATA FROM SQL DATABASE
import pandas as pd
import pyodbc # IMPORT PYODBC TO GET CONNECTED WITH DATABASE

cnxn_str = ("Driver={SQL Server Native Client 11.0};"# WRITE DRIVER NAME
            "Server=.;" # WRITE SERVER NAME, HERE LOCAL SERVER IS GIVEN
            "Database=BATCH_202209;" # DATABASE NAME
            "Trusted_Connection=yes;") 
cnxn = pyodbc.connect(cnxn_str) #CONNECTION VARIABLE

sql_query="SELECT CUSTOMER_ID,Company,GENDER,Age,STATE_CODE,Spent_amount FROM MED_2022"  #QUERY VARIABLE

MED_SELECT = pd.read_sql(sql_query, cnxn) #CODE FOR READING SQL TABLE
MED_SELECT

C:\Users\Debendra\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

       CUSTOMER_ID    Company  GENDER   Age STATE_CODE  Spent_amount
0     1.000033e+09      MED +  Female  29.0        QLD         69.37
1     1.000033e+09  DR.REDDYS  Female  39.0         WA        498.50
2     1.000033e+09   RELEGARE  Female  54.0        NSW          1.56
3     1.000033e+09        GSK    Male  35.0        VIC        160.98
4     1.000033e+09        GSK    Male  34.0        VIC        289.10
...            ...        ...     ...   ...        ...           ...
5107  1.000038e+09   RELEGARE    Male  77.0         WA        198.36
5108  1.000038e+09     APPOLO  Female  57.0         WA         28.09
5109  1.000038e+09        GSK  Female  31.0         WA        852.98
5110  1.000038e+09      MED +  Female  53.0         WA        228.55
5111  1.000038e+09    RANBAXY  Female  41.0         WA         26.35

[5112 rows x 6 columns]

In [2]:
# HOW TO WRITE DATA TO A SQL DATABASES

import pandas as pd
import pyodbc
from sqlalchemy import create_engine, event
from sqlalchemy.engine.url import URL

conn_str = ("Driver={SQL Server Native Client 11.0};"
            "Server=.;"
            "Database=BATCH_202209;"
            "Trusted_Connection=yes;")

conn_url = URL.create("mssql+pyodbc", query={"odbc_connect": conn_str}) # Creating url

engine = create_engine(conn_url) # Creating Engine

MED_SELECT.to_sql('MED_SELECT_python', engine) # Without Sql Query we have to write pd.read_sql_table('table_name',engine)

-1

# HOW TO DESCRIBE A TABLE BY SHAPE,HEAD,TAIL,COLUMNS.VALUES,DTYPE,INFO(),DESCRIBE()

In [ ]:
import pandas as pd

med_2022=pd.read_excel(r'C:\Users\Debendra\BATCH 202209\SESSION-1\A2.RAW_DATA\MED_STORE_2022.xlsx',sheet_name='MED_AUS_DATA')

med_2022

# HOW TO CREATE A NEW DATASET FROM AN EXISTING DATASET

In [ ]:
med_2022_new=med_2022

med_2022_new

In [ ]:
med_2022_new=med_2022.copy()

med_2022_new

In [ ]:
# CREATING A NEW DATASET BY SELECTING VARIABLES

med_2022_new=med_2022[['CUSTOMER_ID','Company','GENDER','Age','STATE_CODE','Spent amount']]

med_2022_new

In [ ]:
keep_var=['CUSTOMER_ID','Company','GENDER','Age','STATE_CODE','Spent amount']

med_2022_new=med_2022[keep_var]

med_2022_new

In [ ]:
# CREATING A NEW DATASET BY DROPPING VARIABLE

drop_var=['Company','GENDER','Age','STATE_CODE','Spent amount']

med_2022_new=med_2022.drop(drop_var,axis=1)

med_2022_new

# HOW TO DESCRIBE YOUR DATASET

In [ ]:
med_2022

In [ ]:
print(med_2022)

In [ ]:
med_2022.shape

In [ ]:
med_2022.head(100)

In [ ]:
med_2022.tail(100)

In [ ]:
med_2022[100:200]

In [ ]:
med_2022.info()

In [ ]:
med_2022.dtypes

In [ ]:
med_2022.describe()

In [ ]:
med_2022.columns.values

In [ ]:
med_2022.isnull().sum()

In [ ]:
med_2022.isnull().sum().sum()

In [ ]:
print(med_2022.isnull().sum().sum())